@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 100vw;
  overflow-x: hidden; }

.jumbotron {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("https://cdn.pixabay.com/photo/2016/01/19/17/47/hiker-1149898_960_720.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }
  .jumbotron .navigation {
    min-height: 10vh;
    width: 100vw;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .jumbotron .navigation h2 {
      color: #FF3D00;
      font-size: 6vh;
      letter-spacing: 0.2vw; }
    .jumbotron .navigation ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style-type: none; }
      .jumbotron .navigation ul li {
        margin: 0 1.5vw;
        text-transform: uppercase; }
        .jumbotron .navigation ul li a {
          color: #fff;
          -webkit-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
          .jumbotron .navigation ul li a:hover {
            color: #FF3D00; }
        .jumbotron .navigation ul li button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          position: relative;
          bottom: 0.1vh;
          background-color: transparent;
          color: #fff;
          font-size: 3vh;
          cursor: pointer;
          border: none; }
  .jumbotron__content {
    min-height: 55vh;
    min-width: 75vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2vw; }
    .jumbotron__content--title {
      width: 100%;
      padding: 3.5vh 0;
      font-size: 7vh;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      -webkit-animation: type 3.5s 1s;
              animation: type 3.5s 1s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
    .jumbotron__content--text {
      padding: 0 4vw;
      font-size: 2.5vh; }

.traveling {
  min-height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 0; }
  .traveling__header {
    min-height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4vh 1.5vw 0 1.5vw;
    text-align: center; }
    .traveling__header--title {
      padding: 3vh 0;
      font-size: 7vh;
      word-spacing: 0.3vw;
      letter-spacing: 0.2vw;
      text-transform: capitalize; }
    .traveling__header--text {
      width: 70vw;
      font-size: 2.5vh;
      color: #878787; }
  .traveling__content {
    min-height: 70vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .traveling__content--example {
      height: 100%;
      width: 25vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 2vw; }
      .traveling__content--example img {
        height: 50%;
        width: 100%; }
      .traveling__content--example .example-text {
        height: 50%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 3vh 1.4vw;
        border: 1px solid #878787; }
        .traveling__content--example .example-text h2 {
          color: #FF3D00;
          font-size: 3.5vh;
          letter-spacing: 0.2vw;
          text-transform: capitalize; }
        .traveling__content--example .example-text p {
          margin: 4vh 0 2.5vh 0;
          font-size: 2.3vh;
          line-height: 3.2vh;
          letter-spacing: 0.1vw; }
        .traveling__content--example .example-text button {
          min-height: 6vh;
          min-width: 8.5vw;
          background-color: #FF3D00;
          color: #fff;
          font-size: 2.3vh;
          cursor: pointer;
          text-transform: capitalize;
          border: none;
          border-radius: 1vh;
          -webkit-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
          .traveling__content--example .example-text button:hover {
            background-color: transparent;
            color: #FF3D00;
            border: 0.2vh solid #FF3D00; }

.services {
  min-height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014713_960_720.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }
  .services__header {
    color: #fff;
    min-height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4vh 1.5vw 0 1.5vw;
    text-align: center; }
    .services__header--title {
      padding: 3vh 0;
      font-size: 7vh;
      word-spacing: 0.3vw;
      letter-spacing: 0.2vw;
      text-transform: capitalize; }
    .services__header--text {
      width: 70vw;
      font-size: 2.5vh; }
  .services__content {
    min-height: 70vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 6vh 0; }
    .services__content--example {
      min-height: 30vh;
      width: 28%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 2vh 1vw;
      padding: 0 2.5vw;
      background-color: #fff;
      border-radius: 0.2vh;
      -webkit-box-shadow: 0.7vh 0.7vh 0.7vh #bab4b4;
              box-shadow: 0.7vh 0.7vh 0.7vh #bab4b4; }
      .services__content--example .example-title {
        height: 10vh;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 2vh 0; }
        .services__content--example .example-title i {
          padding-right: 2vw;
          color: #FF3D00;
          font-size: 7vh; }
        .services__content--example .example-title h3 {
          font-size: 3.5vh; }
      .services__content--example p {
        color: #878787;
        font-size: 2vh;
        letter-spacing: 0.1vw; }

.news {
  min-height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .news__header {
    min-height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4vh 1.5vw 0 1.5vw;
    text-align: center; }
    .news__header--title {
      padding: 3vh 0;
      font-size: 7vh;
      word-spacing: 0.3vw;
      letter-spacing: 0.2vw;
      text-transform: capitalize; }
    .news__header--text {
      width: 70vw;
      font-size: 2.5vh;
      color: #878787; }
  .news__content {
    min-height: 70vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80vh; }
    .news__content--example {
      height: 100%;
      width: 25vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 2vw; }
      .news__content--example img {
        height: 30%;
        width: 100%; }
      .news__content--example .example-text {
        height: 50%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 3vh 1.4vw;
        border: 1px solid #878787;
        height: 70%; }
        .news__content--example .example-text h2 {
          color: #FF3D00;
          font-size: 3.5vh;
          letter-spacing: 0.2vw;
          text-transform: capitalize;
          font-size: 3vh;
          letter-spacing: 0.1vw;
          text-transform: none; }
        .news__content--example .example-text p {
          margin: 4vh 0 2.5vh 0;
          font-size: 2.3vh;
          line-height: 3.2vh;
          letter-spacing: 0.1vw; }
        .news__content--example .example-text .read-more {
          color: #3393ce;
          font-size: 2.5vh;
          letter-spacing: 0.1vw;
          -webkit-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
          .news__content--example .example-text .read-more:hover {
            opacity: 0.7; }
      .news__content--example .last-updated {
        height: 5vh;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0;
        padding: 0 3vw;
        background-color: #e0e0e0;
        color: #878787;
        font-size: 2vh; }

.contact {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000; }
  .contact__info {
    min-height: 50vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5vw; }
    .contact__info--example {
      min-height: 50vh;
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 0 2vw; }
      .contact__info--example h3 {
        margin: 2vh 0;
        color: #fff;
        font-size: 4vh;
        text-transform: capitalize; }
      .contact__info--example p {
        color: #878787;
        font-size: 2.5vh;
        letter-spacing: 0.1vw; }
      .contact__info--example .address-info, .contact__info--example .phone, .contact__info--example .email-info, .contact__info--example .fax {
        color: #FF3D00; }
      .contact__info--example .address-text, .contact__info--example .email-info, .contact__info--example .fax {
        margin: 1.3vh 0; }
      .contact__info--example .input {
        height: 4.4vh;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 2vh 0; }
        .contact__info--example .input input {
          height: 100%;
          width: 80%;
          padding: 0 1vw;
          font-size: 3vh; }
          .contact__info--example .input input placeholder {
            padding: 0 1vw; }
        .contact__info--example .input .input-button {
          height: 100%;
          min-width: 3vw;
          background-color: #FF3D00;
          color: #fff;
          font-size: 2.5vh;
          cursor: pointer;
          border: none; }
  .contact__footer {
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5vw; }
    .contact__footer--info {
      color: #fff;
      font-size: 2.5vh; }
    .contact__footer--social {
      width: 20vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #fff;
      font-size: 2.5vh; }
      .contact__footer--social .facebook, .contact__footer--social .linkedin {
        min-height: 4.5vh;
        min-width: 2.7vw;
        margin: 0 1.5vw;
        background-color: transparent;
        color: #fff;
        font-size: 3vh;
        cursor: pointer;
        border: none;
        -webkit-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out; }
        .contact__footer--social .facebook:hover, .contact__footer--social .linkedin:hover {
          color: #FF3D00; }

@-webkit-keyframes type {
  from {
    width: 0; } }

@keyframes type {
  from {
    width: 0; } }

@media (max-width: 1100px) {
  .traveling__content {
    min-height: 80vh; } }

@media (max-width: 800px) {
  .jumbotron .navigation {
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .jumbotron .navigation ul {
      width: 100%;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .jumbotron__content--title {
    width: 70%;
    white-space: normal;
    overflow: visible;
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }
  .traveling__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .traveling__content--example {
      width: 40vw;
      margin: 3vh 2vw; }
  .services__content--example {
    width: 40%;
    margin: 2vh 2vw; }
  .news__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .news__content--example {
      width: 40vw;
      margin: 3vh 2vw; }
  .contact__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3vh 0; }
    .contact__info--example {
      min-height: 20vh;
      width: 60%;
      margin: 2vh 0; } }

@media (max-width: 651px) {
  .contact__footer {
    height: 20vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact__footer--social {
      width: 80vw; } }

@media (max-width: 550px) {
  .jumbotron {
    min-height: 150vh; }
    .jumbotron .navigation {
      height: 60vh;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .jumbotron .navigation ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .jumbotron .navigation ul li {
          margin: 3vh 0; }
  .traveling__content--example {
    width: 75vw; }
  .services__content--example {
    width: 60%; }
  .news__content--example {
    width: 75vw; } }